*{
	margin: 0 auto;
	padding: 0;
	border: 0;
	overflow:inherit;
	text-decoration:none !important;
}
::-webkit-scrollbar {
    height: 0px;
}
/*Body*/
@font-face{
	font-family:Acme;
 src: url("../font/Acme-Regular.ttf");
}
.info{
	display: none;
}
.finicio{
	background-image: url(../img/p1970.jpg);
	background-size: cover;
}
body{
	overflow-y: hidden;
	 font-family: "Acme" !important;
}
#contenedorMayor{
	background-image: url(../img/fondoM.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	width: 700%;
	height: 100vh;
    display: none;
    margin: 0 !important;
    overflow: hidden !important;
    transition: all 1s ease-in-out;
}
.contenedorFecha{text-align: center;
	font-size: 38px;
	float: left;
	width: 16.6%;
	height: 100vh;
	position: relative;
	z-index:2;
}
/*inicio-logo*/
.M-Do{
	width: 100%;
	height: 100vh;
	background-color: black;
	text-align: center;
	display: flex;
	position: absolute;
	flex-direction: column;
}
/*logo*/
.logo{
	background-color: black;
	margin: auto;
	align-items: center;
	overflow: hidden;
	text-align: center;
}
.click{
	color: white;
    position: absolute;
    bottom: 15%;
    left: 45%;
    animation: clic 1s running infinite;
}
@keyframes clic { 
	0%{
		opacity: 0.5;
	}
	50%{
		opacity: 0.8;
	}
	100%{
		opacity: 0.5;
	}
}
/*Botones*/
.btnSalir{
	position: absolute;
	right: 0;
	background-color: rgb(223,19,6);
	font-weight: bolder;
	font-size: 200%;
	width:4%; 
	height:8%;
	cursor: pointer;
	z-index: 3;
}
.btnSalir:hover{
	color: rgb(107,18,99);
	font-size: 220%;
}
.boton{
	font-family: Acme !important;
	cursor: pointer;
    padding: 2%;
    width: 30%;
    color: white;
    font-size: 16px;
    border-radius: 10%;
    background-color: rgb(107,18,99);
    z-index: 3;
    margin: 0 35%;
}
.boton:hover{
	color: rgb(223,19,6);
	font-size: 18px;
}
.b6{
	padding: 1% !important;
	background-color: rgb(223,19,6) !important;
	margin-bottom: 2% !important;
}
.b6:hover{
	color: white !important
}
.R{
	top: 40px;	
	width:34px;
 	word-wrap: break-word;
  	text-align:center;
}
.C{
	top: 40px !important;
	left: 40px !important;
	width:34px;
 	word-wrap: break-word;
	text-align:center;
}
.b2{
	font-size: 180% !important;
}
.b2:hover{
	font-size: 200% !important;
}
.S1{
	top: 10px;
 	right: 180px !important;
}
.S2{
	top: 10px;
 	right: 180px !important;
}
.S3{
	width: 8% !important;
    border-radius: 10px;
    height: 10% !important;
}
.fijo{
	position: fixed;
	z-index: 5;
	float: right !important;
}
.BB{
	background-color: rgb(107,18,99) !important;
}
.BM{
	background-color: transparent !important;
	overflow: hidden;
	width: 80px;
    margin-top: 20px;
}
.BS{
	background-color: rgb(107,18,99);
	padding: 0 4%;
	color: white;
	margin-top: 8%;
}
.more{
	position: absolute !important;
	right: 0 !important;
	width:60px;
	height:59px;
	overflow:hidden;
	background-image: url(../img/iconoani.png);
	animation: sinop 1s steps(5) infinite running;
}
.BT{
	background-color: rgb(223,19,6) !important;
}
.btn{
	color: white !important;
	border-style: none !important;
	z-index: 2;
	cursor: pointer;
}
.btn:hover{
	opacity: 0.5;
	transition: 0.5s;
}
.vmas{
	margin: auto !important;
}
.an1970{
	display: none;
	margin: 0 35%;
}
/*Ventana de inicio*/
.vIni{text-align: center;
	font-size: 38px;
	float: left;
	width: 100%;
	height: 100vh;
	display: none;
 }
 .N1{
	background-image: url(../img/p_inicio.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.perga{
	position: absolute;
	right: 10%;
	top: -20vh;
	transition: 1s linear;
	width: 158px;
	height: 372px;
	background-image: url("../img/pergaminoani.png");
    animation: play 0.4s steps(6) forwards;
    animation-play-state: paused;
}
.saludo{
	position: absolute;
	left: 10%;
	top: 8vh;
	width: 400px;
	height: 553px;
	background-image: url("../img/Leesaludo.png");
    animation: playsaludo 1s steps(9) infinite running;
}
@keyframes play {
   from { background-position:    0px; }
     to { background-position: -948px; }
}
@keyframes playsaludo{
	100%{
		background-position: -3600px top;
	}
}
.informacion{
	margin-top: 6%; 
	width: 30%;
	height: 60vh;
	color: white;
	background: rgba(10,30,50,0.8);
	border-radius: 5%;
	padding: 3%;
	font-size: 80%;
	text-align: center;
}
/*Ventana de instruciones*/
 .i2{
 	background: #6F3974 !important;
 }
 .leecam{
	width: 478px;
	height: 595px;
	animation: camlee 1s steps(9) infinite running;
	position: absolute;
	left: 0;
    top: 5vh;
	background-image: url("../img/caminalee.png");
	overflow: hidden;
	z-index: 5;
}
@keyframes camlee{
	100%{
		background-position: -4302px top;
	}
}
.dire{
    overflow: hidden;
    width: 183px;
    height: 71px;
    background-image: url("../img/fleani.png");
    animation: direcc 1s steps(6) infinite running;
    margin: 25% auto 2%;
}
@keyframes direcc{
	100%{
		background-position: -1098px top;
	}
}
/*Ventana bandera*/
.texto1970{
    width: 40%;
    height: 70vh;
    left: 30%;
    border-radius: 3%;
    position: fixed;
    z-index: 9;
    margin-top: 15vh;
    display: none;
}
.contenido{
	height: 61vh;
	width: 100%;
	float: left;
	margin-bottom: 1%;
	background-color: white;
}
.tex2{
	padding: 20px;
	padding-top: 50px;
	text-align: justify;
	font-size: 23px;
	display: none;
	float: left;
}
.ventana2{
	position: fixed;
	background-color:rgba(00,00,00,0.8);
	top: 0px;
	width: 100%;
	height: 100vh;
	display: none;
	z-index: 9;
}
.animacion{
	margin-top: 5%;
	width: 55%;
	height: 80vh;
	background-color: white;
}
/*Ventana Historieta*/
.SecHistorieta{
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 9;
	background-color: rgba(00,00,00,0.8);
}
.SecHistorieta2{
	display: none;
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 9;
	background-color: rgba(00,00,00,0.8);
}
.flecha1{
   margin-top: 1.8%;
   color: white;
   cursor: pointer;
	font-size: 250%;
	text-align: center;
}
.flecha1:hover{
	color: rgb(223,19,6);
}
.flecha2{
	color: white;
	cursor: pointer;
	font-size: 250%;
    text-align: center;
   	border: none;
 }
 .flecha2:hover{
	color: rgb(107,18,99);
}
.historieta{
	z-index: 4;
	width: 54%;
	height: 70vh;
	margin-top: 1.8%;
	margin-bottom: 1.8%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	box-shadow:  7px 7px 15px gray;
	overflow: hidden;
}
.sinop{
	display: none;
	position: absolute;
	width: 80%;
	font-size: 1.5em;
    text-align: center;
	margin-left: 10%;
	height: 74vh;
	background-color: rgba(255,255,255,0.8);
	padding: 18% 1.5%;
}
.a1950{
	transition: all 1s ease-in-out;
}
.a1944{
	transition: all 1s ease-in-out;
}
/*Ventana Dojo*/
.ventanatexto{
	background-color:rgba(00,00,00,0.7);
	width: 100%;
	height: 100vh;
	z-index: 9;
	display: none;
	position: fixed;
}
.texto23ac{
	width: 45%;
    height: 80vh;
	background-color: white;
	font-size: 72%;
	margin-top: 2%;
	overflow: hidden;

}
.p_23aC{
	background-color: transparent !important;
}
.inf{
	display: none;
	border-radius: 3%;
}
/*personaje*/
.LShan{
	width: 125px;
	height: 202px;
	z-index: 5;
	background: url(../img/spriteC.png);
	margin-top: 29%;
	margin-left: 6%;
	position: fixed;
	animation: LeeShan 1s steps(9) infinite running;
	display: none;
}
.LShans{
	width: 125px;
	height: 202px;
	z-index: 5;
	background: url(../img/spriteC2.png);
	margin-top: 29%;
	margin-left: 6%;
	position: fixed;
	animation: LeeShans 1s steps(9) infinite running;
	display: none;
}
.LShanP{
	display: block;
	width: 125px;
	height: 202px;
	background: url(../img/spriteL.png);
	z-index: 5;
	margin-top: 29%;
	margin-left: 6%;
	position: fixed;
}
@keyframes LeeShan{
	100%{
		background-position: -1125px top;
	}
}
@keyframes LeeShans{
	100%{
		background-position: 1125px top;
	}

}
.quieto{
	overflow: hidden;
}
.quieto2{
	overflow: hidden !important;
}
/*nubes*/
.objeto1{
	animation: nube 650s  infinite running;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	top: 10px;
}
.objeto2{
	top: 50px;
	animation: nube2 590s  infinite running;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.objeto3{
	top: 120px;
	animation: nube3 530s  infinite running;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.objeto4{
	top: 60px;
	animation: nube4 480s  infinite running;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.objeto5{
	top: 100px;
	animation: nube5 420s  infinite running;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.objeto6{
	top: 40px;
	animation: nube6 370s  infinite running;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.objeto7{
	top: 80px;
	animation: nube7 320s  infinite running;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
.objeto8{
	top: 40px;
	animation: nube8 280s  infinite running;
	position: absolute;
	overflow: hidden;
	z-index: 1;
}
@keyframes nube{
	0%{
		left: 0px;
	}
	100%{
		left: 8000px;
	}
}
@keyframes nube2{
	0%{
		left: 1100px;
	}
	100%{
		left: 8000px;
	}
}
@keyframes nube3{
	0%{
		left: 1700px;
	}
	100%{
		left: 8000px;
	}
}
@keyframes nube4{
	0%{
		left: 2300px;
	}
	100%{
		left: 8000px;
	}
}
@keyframes nube5{
	0%{
		left: 3000px;
	}
	100%{
		left: 8000px;
	}
}
@keyframes nube6{
	0%{
		left: 3800px;
	}
	100%{
		left: 8000px;
	}
}
@keyframes nube7{
	0%{
		left: 4600px;
	}
	100%{
		left: 8000px;
	}
}
@keyframes nube8{
	0%{
		left: 5800px;
	}
	100%{
		left: 8000px;
	}
}
/*ventana RA*/
.imagenRA{
	width: 20%;
    overflow: hidden;
    position: absolute;
    top: 6%;
    z-index: 4;
    right: 10%;
	animation: imgra 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes imgra{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.inforRA{
	width: 28%;
	padding: 2%;
    position: absolute;
    top: 18%;
    border-radius: 15%;
    background-color: rgba(255,255,255,0.8);
    height: 60vh;
    left: 15%;
    z-index: 5;
	animation: infora 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes infora{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.inforRA p{
 	margin-top: 2%;
 	font-size: 0.5em;
 	width: 95%;
 }
/*ventana juego*/
.inforjuego{
	width: 40%;
    height: 60vh;
    position: absolute;
    left: 40%;
    top: 10%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 8%;
	animation: injuego 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes injuego{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
 .inforjuego p{
 	margin-top: 2%;
 	font-size: 0.5em;
 	width: 60%;
 }
.kata{
	width: 25%;
}
.juegob a{
	color: white !important;
}
.juegob a:hover{
	color: rgb(223,19,6) !important;
	opacity: 0.9;
}
/*otros*/
.e{
	text-align: center;
	position: fixed;
	z-index: 3;
}
.finicio{
	background-image: url(../img/p1970.jpg);
	background-size: cover;
}
.B1{
	width: 22px;
	background-color: red;
	height: 22px;
	border-radius: 100%;
	margin-left:48%;
	position: absolute;
}
.ar{
	top: 0;
}
.ab{
	bottom: 0;
}
.editables{
	height: 25%;
	width: 100%;
}
.e1{
	background-color: red;
}
.e2{
	background-color: green;
}
.e3{
	background-color: blue;
}
.secc{
	width: 30%;
	height: 50vh;
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	overflow: hidden;
	transition: 0.4s linear;
	left: -28%;
	margin-top: 2%;
}
.sec{
	border-radius: 10%;
	background-color: rgb(107,18,99);
	width: 93%;
	height: 80%;
	margin: 5% auto;
	left: 0;
	position: absolute;
	top: 5%;
}
.editar{
	width: 88%;
	height: 74%;
	margin: 10% auto;
	background-color: white
}
.edit{
	width: 100%;
	height: 400%;
	background-color: white;
	transition: 0.5s linear;
}
.fle{
	width: 25px;
	height: 25px;
	border-radius: 100%;
	background: white;
	margin-left: 90%;
	z-index: 3;
}
.usu{
	margin: 5% auto !important;
}
.N{
	background-image: url(../img/1950Tran.jpg);
	background-size: cover;
}
.in{
	left: 0 !important;
	position: absolute !important;
}
.login{
	width: 50%;
	margin: auto;
	margin-top: 100px;
	box-shadow: 4px 4px 4px black;
	background-color: rgba(0,0,0,0.3) !important;
	color: white;
}
.lo{
	color: white;
}
/*objetos sitio*/
.casita1{
	position: absolute;
    left: 50px;
    top: 165px;
    animation: casa 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes casa{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.casita2{
	position: absolute;
    right: 50px;
    top: 190px;
    animation: casaT 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes casaT{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.columna1{
    position: absolute;
    left: 90px;
    top: 230px;
    animation: columna 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes columna{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.columna2{
	position: absolute;
	top: 230px;
	right: 90px;
animation: columnaT 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes columnaT{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.cerca1{
	position: absolute;
    bottom: 110px;
    z-index: 3;
    right: 0;
	animation: cerca 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes cerca{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.cerca2{
	position: absolute;
    bottom: 110px;
    z-index: 3;
    right: 0;
	animation: cercaT 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes cercaT{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.templos{
	width: 40%;
    position: absolute;
    overflow: hidden;
    left: 32%;
    top: 12%;
    z-index: 3;
	animation: templos 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes templos{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.plataforma{
	width: 90%;
    overflow: hidden;
    margin-top: 18.9%;
	animation: plataforma 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes plataforma{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes sinop{
	100%{
		background-position: -300px top;
	}
}
@keyframes bandera{
	100%{
		background-position: -164px top;
	}
}
.Juego{
	margin-right: 0px !important;
	width: 17% !important;
}
.infor{
	background-color: #959594;
}
.informacion h3{
	color: white;
	font-size: 75%;
}
.nnnn{animation: texto 7s infinite running;
}
.kataa{
	margin-left: 20%;
}
@keyframes texto{
	0%{
	}
	25%{
			text-shadow: -2px 0 10px white, 2px 0 10px white, 0 2px 10px white, 0 -2px 10px white;
	}
	50%{
			text-shadow: -4px 0 10px white, 4px 0 10px white, 0 4px 10px white, 0 -4px 10px white;		
	}
	75%{
			text-shadow: -2px 0 10px white, 2px 0 10px white, 0 2px 10px white, 0 -2px 10px white;
	}
	100%{
	}
}
@keyframes sombraa{
	0%{
	}
	25%{
   		 filter: drop-shadow(0px 0px 8px white);
	}
	50%{
	    filter: drop-shadow(0px 0px 12px white);
	}
	75%{
	    filter: drop-shadow(0px 0px 8px white);
	}
	100%{
	}
}
@keyframes sombra{
	0%{
	}
	25%{
			box-shadow: -2px 0 10px rgb(107,18,99), 2px 0 10px rgb(107,18,99), 0 2px 10px rgb(107,18,99), 0 -2px 10px rgb(107,18,99);
	}
	50%{
			box-shadow: -4px 0 10px rgb(107,18,99), 4px 0 10px rgb(107,18,99), 0 4px 10px rgb(107,18,99), 0 -4px 10px rgb(107,18,99);		
	}
	75%{
			box-shadow: -2px 0 10px rgb(107,18,99), 2px 0 10px rgb(107,18,99), 0 2px 10px rgb(107,18,99), 0 -2px 10px rgb(107,18,99);
	}
	100%{
	}
}
.ventana{
	position: fixed;
	background-color:rgba(00,00,00,0.8);
	top: -1000px;
	width: 100%;
	height: 100vh;
	z-index: 8;
}
.animacion23aC{
	margin-top: 5%;
	width: 70%;
	height: 80vh;
	background-color: white;
}
.dojoJapones{
	margin-top: 5.4%;
	width: 703px;
	height: 420px;
    padding: 15px;
    overflow: hidden;
	cursor: pointer;
	animation: Dojo 3s;
	animation-play-state: paused;
	z-index: 3;
}
.dojoJapones img{
	animation: sombraa 2.5s infinite running;
}
@keyframes Dojo{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.casajaponesa{
	width: 80%;
	right: 0px;
    overflow: hidden;
    position: absolute;
    float: right;
    z-index: 2;
}
.muralla{
	width: 100%;
    overflow: hidden;
	animation: muralla 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes muralla{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}.dojo{
	width: 100%;
	top: 0px;
}
.muralla2{
	width: 90%;
    margin-left: 10%;
    right: 0;
    z-index: 8;
}
.casa{
	width: 33.3%;
    float: left;
}
.cas1{
	margin-top: 5vh;
	animation: casa 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes casa{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.cas2{
	margin-top: 2vh;
	width: 33.4% !important;
	animation: casaT 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes casaT{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.cas3{
	animation: Casa 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes Casa{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.templo{
	width: 40%;
}
.temploisrael{
	animation: israel 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes israel{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.temploJ{
	width: 100%;
    margin-top: 2.8%;
	animation: temploj 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes temploj{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.tex{
	padding: 3%;
	text-align: justify;
	font-size: 22px !important;
}
.H1{
	cursor: pointer;
	animation: sombra 2.5s infinite running;
}
.H2{
	cursor: pointer;
	animation: sombra 2.5s infinite running;
}
@keyframes botonh{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}.i1970{
	display: block;
}
.banderas{
	z-index: 3;
	width: 100%;
	overflow: hidden;
	height: 29%;
	position: absolute;
	top: 0;
	animation: banderas 2s ;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes banderas{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.bandera{
 width: 82px;
 height: 74px;
 position: absolute;
 background-image: url("../img/banderani.png");
 animation: bandera 1s steps(2) infinite running;
 top: 58%;
 right: 47%;
 cursor: pointer;
}
.ini{
	float: left;
}
.Ad{
	padding: 20px;
	width: 50%;
	height: 80vh;
	margin:  auto;
	box-shadow: 4px 4px 4px black;
	background-color: rgba(0,0,0,0.3) !important;
	color: white;
	border-radius: 20px;
}
.Ad div{
	width: 80%;
	margin:auto;
}
.cabezalista{
	background-color:rgba(132,8,8,0.4);
}
th{
	color: white;
}
td{
	color: white;
}
.red{
	font-weight: bold;
	color: rgb(223,19,6);
	cursor: pointer;
}
.red:hover{
	text-decoration-line: none;
}
.blanco{
	font-weight: bold;
	color: white;
	cursor: pointer;
}
.blanco:hover{
	text-decoration-line: none;
}
.morado{
	font-weight: bold;
	color: rgb(107,18,99);
	cursor: pointer;
}
.morado:hover{
	color: #00BFFF;
	text-decoration-line: none;
}
input[type=text]{
	width: 150px;
border: 2px solid rgb(107,18,99);
  border-radius: 4px;
   -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.6s ease-in-out;
}
input[type=text]:hover{
	width: 100%;
}
input[type=password]{
	width: 150px;
border: 2px solid rgb(223,19,6);
  border-radius: 4px;
   -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.6s ease-in-out;
}
input[type=password]:hover{
	width: 100%;
}
input[type=email]{
	width: 150px;
border: 2px solid rgb(223,19,6);
  border-radius: 4px;
   -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.6s ease-in-out;
}
input[type=email]:hover{
	width: 100%;
}